body {
    background-color: #FFFAF0;
    
    padding-bottom: 100px;
}

.container { 
  max-width: 600px;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  background-color: #FFFAF0;

}

.header {
  display: flex;
  margin: 30px auto 30px auto;
  background-color: #FFFAF0;
  justify-content: center;
  color: #452E01;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Palatino Linotype';
}

.quote-container {
  height: 100px;
  display: flex;
  margin: 30px auto 30px auto;
  background-color: #FFFAF0;
  justify-content: center;
  font-size: 25px;
  font-family: 'Book Antiqua';
 }
 
 .author-container {
  height: 30px;
  display: flex;
  margin: 30px auto 30px auto;
  background-color: #FFFAF0;
  justify-content: flex-end;
  font-family: 'Palatino Linotype';
  font-size: 25px;
  }

.button-container {
  display: flex;
  margin: 5px auto 5px auto;
  background-color: #FFFAF0;
  justify-content: space-between;
}
#tweet {
  visibility: hidden;
}
button {
 background-color: #FFFAF0;
 border: none;
 color: #452E01 ;
 padding: 15px;
 width: 200px;
 font-size: 20px;
 border-width: 5px;
 border-radius: 5px;
 border-color: #452E01;
 font-family: 'Palatino Linotype';
}

button:hover {
 background-color: #FAF0E6;
 border: none;
 color: #452E01;
 padding: 15px;
 width: 200px;
 font-size: 20px;
 font-family: 'Palatino Linotype';
}

button:active {
 background-color: #FDF5E6;
 border: none;
 color: #452E01;
 padding: 15px;
 width: 200px;
 font-size: 20px;
 font-family: 'Palatino Linotype';
}
