body {
	background-color: #86608E;
	display: flex;
}
#container {		
	background-color: grey;
	max-width: 2000px;
	margin: auto;
	padding: 10px;
	justify-content: center;
	align-items: center;
	font-family: Calibri;
}
#heading {
	font-size: 25px;
	text-align: center;
}
#search-button {
	background-color: #8B66FF;
	border: 2px #8B66FF solid;
	margin: 10px 5px 10px auto;
	color: white;
}
#search-button:hover {
	background-color: #F066FF;
	border: 2px #8B66FF solid;
	margin: 10px 5px 10px auto;	
}
#search-input {
	margin: 10px auto auto 10px;
}
#search-string {
	margin: auto 10px auto 5px;
}
#results-container {
	background-color: #BFBFBF;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
}