body {
	background-color: #86608E;
	
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;	
	padding: 10px;	
	font-family: Calibri;

}

#heading {
	background-color: #BFBFBF;
	font-size: 25px;
	text-align: center;
	margin: 5px auto;
	
}

#search-container {
	background-color: #BFBFBF;
	padding: 10px;	
	margin: 5px auto;
	flex: 1;
}

#search-button {
	background-color: #8B66FF;
	border: 2px #8B66FF solid;
	color: white;
}
#search-button:hover {
	background-color: #F066FF;
	border: 2px #8B66FF solid;	
}

#search-input {
	
}
#search-string {
	
}
#results-container {
	background-color: #BFBFBF;
	padding: 10px;
	margin: 5px auto;
}